@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgba(31, 31, 39, 1);
}

header {
    width: 83.34%;
    height: 10rem;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: #fff;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 1rem;
    margin: .5rem;
}



nav li a {
    font-size: 1.375rem;
    color: #fff;
    text-decoration: none;

    position: relative;
}

@keyframes border-width {
    0% {
        width: 10%;
    }

    100% {
        width: 100%;
    }
}

@keyframes border-width-rev {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

nav li a::before {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -.25rem;
    transform: translateX(-50%);
    border-bottom: 3px solid #fff;
    border-radius: 50%;

    animation: border-width-rev 250ms ease-in-out forwards;
}

nav li a:hover::before {
    width: 0%;

    animation: border-width 250ms ease-in-out forwards;
}

nav li a:active::before {
    width: 100%;
}

nav li .active_page::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -.25rem;
    transform: translateX(-50%);
    width: 10%;
    border-bottom: 3px solid #fff;
    border-radius: 50%;
}



nav .search {
    padding: .5rem;

    display: inline;
    position: relative;
}

nav i {
    padding: .5rem;
    margin: .5rem;
    font-size: 1.25rem;
    color: #fff;
}

@keyframes input-animat {
    0% {
        width: 0;
    }

    100% {
        width: 12rem;
    }
}

@keyframes input-animat-rev {
    0% {
        width: 12rem;
    }

    100% {
        width: 0;
    }
}

nav .search input {
    width: 0rem;
    height: 2.25rem;
    border: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .1);
    padding: 0rem;
    font-size: 1rem;
    color: #fff;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);

    animation: input-animat-rev 400ms ease-in-out forwards;
}

.search:hover .fa-search {
    background-color: #FB3719;
    border-radius: 50%;
}

.search:hover .ppp {
    padding: .75rem;

    animation: input-animat 500ms ease-in-out forwards;
}

nav i:hover {
    background-color: #FB3719;
    border-radius: 50%;
}




section {
    width: 83.34%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.svg svg {
    width: min(31.25rem, 95vw);
    height: auto;
}

.bio {
    width: 33.34vw;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bio-headings {
    margin-bottom: 4rem;
}

.bio h2 {
    font-size: 2.25rem;
    line-height: 4.5rem;
    font-weight: 700;
}

.bio h3 {
    font-size: 1.625rem;
    font-weight: 400;
}

.bio p {
    font-size: 1.438rem;
    font-weight: 200;

    text-align: justify;
}